<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load static %}
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Munchii favourites</title>
    
    <link rel="stylesheet" href="{% static 'style/yelp_api.css' %}" type="text/css" media="all" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
  </head>
  <body id="" class="favourite_page">
  
    <div class="favourites_body">

      <div class="favourites_text">
        Did you eat here? Rate it!
      </div>

      <div class="businessEntry"> 
        <img class="circular_image" id="lastPlaceVisited"/>
        <div class="place_name" id="place_name"> </div>
        <div class="place_rating" id="place_rating"> </div>
      </div>


    </div>


    <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.custom.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/favourites.js?version=100' %}" type="text/javascript" charset="utf-8"></script>
   
  </body>
</html>