body {
	margin-left: auto;
	margin-right: auto;
	font-family: 'Roboto', sans-serif;
}

.yellowBackground {
	background-color: #ffc11c;
}

.whiteBackground {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}

.business_body {
	margin-top: 3em;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}

.businessImage {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	height: 45em;
	border: none;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.whiteFrame {
	width: 100%;
	background-color: #ffffff;
}

.businessInfo {
	height: 17em;
	margin: 5em;
	padding-bottom: 5em;
}

.businessSubInfo {
	font-family: 'Roboto', sans-serif;
    font-size: 28px;
    padding-top: 0.8em;
    font-weight: 400;
}

h2 {
	font-family: 'Roboto', sans-serif;
	display: block;
    font-size: 3em;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 400;

}

.food_button {
	border-radius: 150px;
    border: none;
    border-color: #ffffff;
    background: url(/static/assets/icon@2x.png);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; 
    width: 300px;
    height: 300px; 
}

.drink_button {
	border-radius: 150px;
    border: none;
    border-color: #ffffff;
    background: url(/static/assets/icon2@2x.png);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px; 
    width: 300px;
    height: 300px; 
}

button.drink_button {
	margin-left: 5%;
	margin-right: 5%;
}

button.food_button {
	margin-left: 5%;
	margin-right: 5%;
}

button.no_button {
	margin-left: 10%;
	margin-right: 10%;
}

button.bookmark_button {
	margin-left: 10%;
	margin-right: 10%;
}

.footer {
	margin: 0;
	padding: 0;
	width: 100%;
	position:fixed;
	bottom: 3em;
}

.buttonBox {
	text-align: center;
}

.no_button {
    border-radius: 100px;
    border: none;
    background: url(/static/assets/no@2x.png);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
}

.bookmark_button {
    border-radius: 100px;
    border: none;
    border-color: #ffffff;
    background: url(/static/assets/bookmark@2x.png);
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px; 
}

.foodordrink_body {
	margin-top: 18em;
	margin-right: auto;
	margin-left: auto;

}	

.time_box {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 10em;
	color: #ffffff;
	text-align: center;
}

.time_sub_text {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 5em;
	color: #ffffff;
	text-align: center;	
	margin-bottom: 3em;
}

.buttonText{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	color: #ffffff;
	text-align: center;	
	width: 300px;
	float:left;
	margin-left: 5%;
	margin-right: 5%;
	padding: 20px;
}

.textBox {
	width:90%;
	margin-right: auto;
	margin-left: auto;
}

.app_title {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 10em;
	color: #ffffff;
	text-align: center;
	display: none;
}

.munchies_logo {
	border-radius: 192px;
    border: none;
    background: url(/static/assets/munch_trans.gif);
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    width: 384px;
    height: 384px; 
    display: none;

}

.home_body {
	text-align: center;
	margin-top: 30em;
}


.businessOpen {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 2em;
	margin-top: 0.5em;
}

.05star {
	content:url("/static/assets/05star.png");	
}

.10star {
	content:url("/static/assets/10star.png");	
}

.15star {
	content:url("/static/assets/15star.png");	
}

.20star {
	content:url("/static/assets/20star.png");	
}

.25star {
	content:url("/static/assets/25star.png");	
}

.30star {
	content:url("/static/assets/30star.png");	
}

.35star {
	content:url("/static/assets/35star.png");	
}

.40star {
	content:url("/static/assets/40star.png");	
}

.45star {
	content:url("/static/assets/45star.png");	
}

.50star {
	content:url("/static/assets/50star.png");	
}

.starRating {
	width: 35%;
	height: auto;
	margin-top: 1.4em;
	margin-bottom: 0.9em;
}

.imageContainer {
	width: 100%;
	height: 45em; 
	display:block; 
	position:relative;
	overflow:hidden;

}

.imageContainer img {
	position:absolute;
	top:0;
	left:0; 
	width:100%;
}

.favourites_text {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
	color: #1cc1ff;
	margin-bottom: 1em;
	margin-top: 1em;
}

.favourites_body {
	/*margin-top: 3em;*/
	margin-left: auto;
	margin-right: auto;
	width: 90%;	
}

.circular_image {
	border-radius: 60px;
    border: none;
    border-color: #ffffff;
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 3em;
    margin-left: auto;
	vertical-align: middle;
    width: 120px;
    height: 120px; 
    float:left;
}

.place_name {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
}

.place {
	width: 100%;
	float:left;
	margin-top: 2em;
	margin-bottom: 2em;
	vertical-align: middle;
}

.horizontalLine {
	height:2px;
	width: 100%;
	background-color: #dcdcdc;
	margin-top:16em;
}

.whiteX {
	border-radius: 50px;
    border: none;
    background: url(/static/assets/white_x.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px; 
}

.blackX {
	border-radius: 50px;
    border: none;
    background: url(/static/assets/black_x4.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px; 
    float:right;
    padding-bottom: 2em;
    margin-top: -3em;
    opacity: 0.2;
}

.backButton {
	border-radius: 50px;
    border: none;
    background: url(/static/assets/back.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    height: 100px; 
    float:right;
    padding-bottom: 2em;
    margin-top: -3em;
    opacity: 0.2;
}

.backWhiteButton {
	border-radius: 50px;
    border: none;
    background: url(/static/assets/back_white.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: auto;
    width: 100px;
    height: 100px; 
    float:left;
    padding-bottom: 2em;
    margin-top: 3.6em;
    margin-left: 3.6em;
}

#recently_visited {
	margin-top: 3em;
}

.backErrow{
	height: 12em;
	background-color: #1cc1ff;
	display: none;

}
